<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/css/mainStyles.css">
</head>

<body>
    <form action="/" method="post">
        <div class="container">
            <h1 class="mainName">Search your Stock</h1>
            <h1 class="mainName2">We predict stock prices</h1>
            <input class="stockInput" type="text" id="stock_name" name="stock_name" placeholder="Stock Name">
        </div>
    </form>
</body>

<script type="text/javascript" src="/js/mainScripts.js"></script>
</html>