<!-- stock.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Prediction</title>
</head>
<body>
        <form action="/stock" method="post">
            <h1>Stock Prediction Result</h1>
            <p>Stock Name: <span th:text="${stockName}"></span></p>
            <p>Stock Ticker: <span th:text="${stockCode}"></span></p>


            <!-- 이미지 데이터가 있을 경우 표시 -->
            <h1>Stock Prediction Image</h1>
            <div>
                <img th:src="${imageData}" alt="Stock Prediction" />
            </div>

            <!-- 오류 메시지가 있을 경우 표시 -->
            <div th:if="${error}">
                <p>Error: [[${error}]]</p>
            </div>
            <button type="submit">차트 조회</button>


        </form>
</body>
</html>
